WebApi/DOMAIN/obj/
WebApi/DOMAIN/bin/
WebApi/DATA/obj/
WebApi/DATA/bin/
WebApi/WebApi/bin/
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/project.nuget.cache
WebApi/WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/WebApi/obj/WebApi.csproj.nuget.g.targets
WebApi/WebApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.AssemblyInfo.cs
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.AssemblyInfoInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.exe
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.genruntimeconfig.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.MvcApplicationPartsAssemblyInfo.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp3.1/WebApi.RazorTargetAssemblyInfo.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.Manifest.cache
WebApi/WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.xml
WebApi/AutomatedUnitTest/obj/
WebApi/AutomatedUnitTest/bin/Debug/
